<header>
</header>

<div class="h1">
  <h1>URL shortener</h1>
</div>
<div class="aa">
  <div class="banner">
  </div>
</div>
<div class="container">


  <form action="/shortUrls" method="POST" class="my-4 align-items-center">
    <div class="col inputURL-dev">
      <label for="fullUrl" class="sr-only URL_label">URL</label>
      <input required placeholder="Please enter URL" type="url" name="url" id="fullUrl"
        class="form-control mr-2 inputURL" value="{{fullURL}}">
    </div>
    <div class="col-auto shorten">
      <button class="btn btn-success" type="submit">Shorten</button>
    </div>
  </form>

</div>