<header>
  <div class="h1">
    <h1>URL shrinker</h1>
  </div>
  <div class="aa">
    <div class="banner">
    </div>
  </div>
</header>

<div class="container">
  <h2>Succes! Please use this link:</h2>
  <div class="col">
    <label>http://localhost:3000/shortURL/{{shortURL}}</label>
  </div>
  <div class="col-auto">
    <button class="btn btn-success" type="submit">Copy</button>
  </div>
</div>