header {
  overflow: hidden;
}

.h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aa {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.banner {
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  margin-bottom: 10px;
  height: 300px;
  width: 300px;
  background: center center url('https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png');
  background-size: cover;
}

.inputURL {
  border: 5px solid black;
  width: 800px;
}

.inputURL-dev {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-success {
  margin-top: 20px;
  height: 80px;
  width: 300px;
}

.shorten {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar .bar-outer {
  margin: 0 auto;
  max-width: 680px;
  background-color: #fce2cf;
  border-radius: 8px;
  padding: 20px 30px;
  border: 0;
  margin-top: -60px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.bar .bar-inner h4 {
  color: #9b4b4b;
}

.form-control::placeholder {
  color: #aaaaaa;
  font-size: 0.8rem;
}

.btn-major {
  background-color: #9b4b4b;
  color: white;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.card img {
  height: 180px;
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.restaurant-category {
  color: #666666;
  font-size: 0.8rem;
}

.restaurant-show-title {
  position: relative;
  top: -100px;
  color: white;
  text-align: center;
  font-size: 3rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 992px) {

  .card img {
    height: 115px;
  }
}

@media screen and (max-width: 768px) {

  .restaurant-show-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 575px) {

  .card img {
    height: auto;
  }

}